<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>modifier article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <header>
        <h1>Modifier un article</h1>
    </header>
    <section>
        <form method="POST" action="db_miss.html" class="formRes">
            <p><label for="date">Date</label> : <input type="date" name="date" id="date"  /></p>
            <p><label for="title">Titre</label> : <input type="text" name="title" id="title" value="Pot de départ à Dédé"  /></p>
            <p><label for="com">Contenu</label><br />
                <textarea name="com" id="com" rows="6" cols="100">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, in dolorem? Commodi architecto nam quia magni iure ex veniam, sequi minus adipisci! Quae nam consectetur mollitia veniam quod aspernatur quos.</textarea></p>
            <p><input type="submit" class="sButton" value="Envoyer" /></p>
        </form>
    </section>
</body>
</html>