<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Panneau Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <nav class="sidebar">
        <a class="active" href="main_admin.html">Résultats</a>
        <a href="news.html">Actualités</a>
        <a href="members.html">Membres</a>
        <a href="stats.html">Stats</a>
    </nav>
    <div class="content"> 
        <header>
            <h1>Administration</h1>
        </header>
        <section>
            <h2>Les résultats du club</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nostrum eaque tempora dicta dignissimos minima ab atque adipisci odio. Possimus aliquam nihil sunt nulla suscipit ullam veritatis blanditiis, dolorum consectetur.</p>
            <a class="aButton" href="add_result.html"><p class="button accesAdmin">Ajouter un nouveau résultat</p></a>
            <div class="contTab">
                <table class="tables contTabEl">
                    <tr>
                        <th>Statut</th>
                        <th>Date</th>
                        <th>Adversaire</th>
                        <th>Lieu</th>
                        <th>score</th>
                    </tr>
                    <tr>
                        <td>Inactif</td>
                        <td>31-02-2019</td>
                        <td>Montcuq</td>
                        <td>Montcuq</td>
                        <td>4 - 1</td>
                    </tr>
                    <tr>
                        <th colspan="5">Commentaire</th>
                    </tr>
                    <tr>
                        <td colspan="5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quod quae qui optio deleniti aspernatur inventore magnam iusto aliquam neque saepe explicabo, fugit aliquid nulla debitis id voluptatum distinctio recusandae.</td>
                    </tr>
                </table>
                <div class="contTableBtn contTabEl">
                    <p class="button delButton"><a href="db_miss.html" class="aButton">Supprimer</a></p>
                    <p class="button editButton"><a href="edit_result.html" class="aButton">Modifier</a></p>
                    <p class="button activeButton"><a href="db_miss.html" class="aButton">Activer</a></p>
                </div>
            </div>
            <div class="contTab">
                <table class="tables contTabEl">
                    <tr>
                        <th>Statut</th>
                        <th>Date</th>
                        <th>Adversaire</th>
                        <th>Lieu</th>
                        <th>score</th>
                    </tr>
                    <tr>
                        <td>Actif</td>
                        <td>11-01-2019</td>
                        <td>Nouillorque</td>
                        <td>Domicile</td>
                        <td>5 - 3</td>
                    </tr>
                    <tr>
                        <th colspan="5">Commentaire</th>
                    </tr>
                    <tr>
                        <td colspan="5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quod quae qui optio
                            deleniti aspernatur inventore magnam iusto aliquam neque saepe explicabo, fugit aliquid nulla debitis
                            id voluptatum distinctio recusandae.<br />
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad maxime aperiam molestias optio expedita quam, asperiores accusantium pariatur mollitia deserunt ullam dolorum neque delectus voluptatum at, similique cumque consequuntur veritatis.</td>
                    </tr>
                </table>
                <div class="contTableBtn contTabEl">
                    <p class="button delButton"><a href="db_miss.html" class="aButton">Supprimer</a></p>
                    <p class="button editButton"><a href="edit_result.html" class="aButton">Modifier</a></p>
                    <p class="button activeButton"><a href="db_miss.html" class="aButton">Activer</a></p>
                </div>
            </div>
            <div class="contTab">
                <table class="tables contTabEl">
                    <tr>
                        <th>Statut</th>
                        <th>Date</th>
                        <th>Adversaire</th>
                        <th>Lieu</th>
                        <th>score</th>
                    </tr>
                    <tr>
                        <td>Inactif</td>
                        <td>31-02-2019</td>
                        <td>Montcuq</td>
                        <td>Montcuq</td>
                        <td>4 - 1</td>
                    </tr>
                    <tr>
                        <th colspan="5">Commentaire</th>
                    </tr>
                    <tr>
                        <td colspan="5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quod quae qui optio
                            deleniti aspernatur inventore magnam iusto aliquam neque saepe explicabo, fugit aliquid nulla debitis
                            id voluptatum distinctio recusandae.</td>
                    </tr>
                </table>
                <div class="contTableBtn contTabEl">
                    <p class="button delButton"><a href="db_miss.html" class="aButton">Supprimer</a></p>
                    <p class="button editButton"><a href="edit_result.html" class="aButton">Modifier</a></p>
                    <p class="button activeButton"><a href="db_miss.html" class="aButton">Activer</a></p>
                </div>
            </div>
            
        </section>
    </div>
</body>
</html>