<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>membres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <nav class="sidebar">
        <a href="main_admin.html">Résultats</a>
        <a href="news.html">Actualités</a>
        <a class="active" href="members.html">Membres</a>
        <a href="stats.html">Stats</a>
    </nav>
    <div class="content">
        <header>
            <h1>Membres</h1>
            <a class="aButton" href="add_member.html"><p class="button accesAdmin">Ajouter un nouveau membre</p></a>
        </header>
        <section>
            <div class="contTab">
                <table class="tables contTabEl">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Âge</th>
                        <th>Catégorie</th>
                        <th>Date d'inscription</th>
                        <th>Cotisation</th>
                    </tr>
                    <tr>
                        <td>Lavallée</td>
                        <td>Yvon</td>
                        <td>49</td>
                        <td>Sénior</td>
                        <td>15/11/2016</td>
                        <td>À jour</td>
                    </tr>
                    <tr>
                        <th colspan="6">Observations</th>
                    </tr>
                    <tr>
                        <td colspan="6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ipsa accusantium fugit tempore excepturi laboriosam nihil et ducimus corrupti architecto provident quam obcaecati voluptates voluptatibus, consequuntur assumenda amet minima ipsam.</td> 
                    </tr>
                </table>
                <div class="contTableBtn contTabEl">
                    <p class="button delButton"><a href="db_miss.html" class="aButton">Supprimer</a></p>
                    <p class="button editButton"><a href="edit_member.html" class="aButton">Modifier</a></p>
                    <p class="button activeButton"><a href="../frontend_view/profile.html" class="aButton">Voir le profil</a></p>
                </div>
            </div>
            <div class="contTab">
                <table class="tables contTabEl">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Âge</th>
                        <th>Catégorie</th>
                        <th>Date d'inscription</th>
                        <th>Cotisation</th>
                    </tr>
                    <tr>
                        <td>Lavallée</td>
                        <td>Yvon</td>
                        <td>49</td>
                        <td>Sénior</td>
                        <td>22/06/1987</td>
                        <td>À jour</td>
                    </tr>
                    <tr>
                        <th colspan="6">Observations</th>
                    </tr>
                    <tr>
                        <td colspan="6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At amet perferendis explicabo cumque tenetur! Beatae voluptates dolorum et dolores voluptatibus ea consectetur pariatur, aperiam repudiandae aliquam exercitationem quidem quas laborum blanditiis velit, fugiat asperiores ab ducimus assumenda delectus voluptatem quibusdam provident similique. Necessitatibus reprehenderit libero voluptas atque, ad beatae optio veniam dolore iusto. Tempora tenetur earum doloribus id, cumque minus.</td>
                    </tr>
                </table>
                <div class="contTableBtn contTabEl">
                    <p class="button delButton"><a href="db_miss.html" class="aButton">Supprimer</a></p>
                    <p class="button editButton"><a href="edit_member.html" class="aButton">Modifier</a></p>
                    <p class="button activeButton"><a href="../frontend_view/profile.html" class="aButton">Voir le profil</a></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>