<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <nav class="sidebar navStat">
        <a href="main_admin.html">Résultats</a>
        <a href="news.html">Actualités</a>
        <a href="members.html">Membres</a>
        <a class="active" href="stats.html">Stats</a>
    </nav>
    <div class="content contentStat">
        <header>
            <h1>Statistiques</h1>
        </header>
        <section>
            <div class="contStatCol"> <!-- main container -->
                <div class="cont1StatRow1"> <!-- line of 4 small rectangles top -->
                    <div class="contInfoCol"> <!--  rectangles -->
                        <p>total visites</p>
                        <div class="contInfoRow">
                            <p><img src="../../ressources/images/icons/statistics.png" /></p>
                            <p>+10%</p>
                        </div>
                    </div>
                    <div class="contInfoCol">
                        <p>Total pages vues</p>
                        <div class="contInfoRow">
                            <p><img src="../../ressources/images/icons/statistics.png" /></p>
                            <p>+10%</p>
                        </div>
                    </div>
                    <div class="contInfoCol">
                        <p>Visiteur unique</p>
                        <div class="contInfoRow">
                            <p><img src="../../ressources/images/icons/statistics.png" /></p>
                            <p>+10%</p>
                        </div>
                    </div>
                    <div class="contInfoCol">
                        <p>Taux de rebond</p>
                        <div class="contInfoRow">
                            <p><img src="../../ressources/images/icons/statistics.png" /></p>
                            <p>+10%</p>
                        </div>
                    </div>
                </div>
                <div class="cont1StatRow2">
                    <div class="map">
                        <p><img src="../../ressources/images/francophonie.png" /></p>
                    </div>
                    <div class="statLines">
                        <div class="statLineEl">
                            <p>70 K</p>
                            <p>Visiteurs depuis la France</p>
                            <div class="w3-light-grey w3-round-xlarge w3-tiny">
                                <div class="w3-container w3-round-xlarge w3-indigo" style="width:70%">70%</div>
                            </div>
                        </div>
                        <div class="statLineEl">
                            <p>13 K</p>
                            <p>Visiteurs depuis le québec</p>
                            <div class="w3-light-grey w3-round-xlarge w3-tiny">
                                <div class="w3-container w3-round-xlarge w3-deep-orange" style="width:13%">13%</div>
                            </div>
                        </div>
                        <div class="statLineEl">
                            <p>10 K</p>
                            <p>Visiteurs depuis l' afrique</p>
                            <div class="w3-light-grey w3-round-xlarge w3-tiny">
                                <div class="w3-container w3-round-xlarge w3-green" style="width:10%">10%</div>
                            </div>
                        </div>
                        <div class="statLineEl">
                            <p>7 K</p>
                            <p>Visiteurs depuis l'indonésie</p>
                            <div class="w3-light-grey w3-round-xlarge w3-tiny">
                                <div class="w3-container w3-round-xlarge w3-teal" style="width:7%">7%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cont1StatRow3">

                </div>
            </div>
        </section>
    </div>
</body>
</html>