/* GLOBAL
################################# */

@font-face{
    font-family: 'arkitech';
    src: url("../fonts/arkitech/Arkitech\ Medium\ Stencil.ttf") format("truetype");
}
@font-face{
    font-family: 'core';
    src: url("../fonts/core/Core.ttf") format("truetype");
}

body{
    font-family: 'core', sans-serif;
    font-size: 1.6em;
    letter-spacing: 1.2px;
    background-image: url("../images/bright_squares.png");
}
h1, h2, h3, h4{
    font-family: 'arkitech', sans-serif;
    letter-spacing: normal;
    text-align: center;
}
h1{
    font-size: 1.3em;
}
h2{
    font-size: 1em;
}
.button{
    height: 35px;
    padding-top: 7px; /*permet le centrage vertical*/
    text-align: center;
    color: #000;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
                0 -1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.button:hover, .sButton:hover{
    color: #222;
    background: #555;
    background: linear-gradient(#777, #333);
}
.button:active, .sButton:active{
    color: #000;
    background: #444;
    background: linear-gradient(#555, #2c2c2c);
    box-shadow: 1px 1px 10px black inset,
                0 1px 0 rgba(255, 255, 255, 0.4);
}
.aButton{
    text-decoration: none;
}
.sButton{
    font-family: 'core', sans-serif;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    color: #000;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
                0 -1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.center{
    text-align: center;
}
.bloc{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.popBloc{
    margin-top: 150px;
    padding: 15px;
}
form label{
    display: inline-block;
    width: 200px;
}
/* general tables */
table, th, td{
    border: 1px solid black;
}
.tables{
    width: 90%;
    box-shadow: 0 0 5px black;
}
.tables td{
    text-align: center;
}
.contTab{
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: #444 4px solid;
}
.contTabEl{
    height: 100%;
}
.contTableBtn{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 10%;
}
.contTableBtn .button {
    min-width: 100px;
    padding-bottom: 0;
    margin: 5px;
    margin-left: 15px;
}
.separate p{
    background-color: #444;
    width: 100%;
}

/*colored button : red */
.delButton {
    color: #222;
    background: rgb(255, 0, 0);
    background: linear-gradient(rgb(248, 71, 71), rgb(170, 1, 1));
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.delButton:hover{
    color: #222;
    background: rgb(255, 0, 0);
    background: linear-gradient(rgb(253, 139, 139), rgb(255, 0, 0));
}

.delButton:active{
    color: #000;
    background: rgb(255, 0, 0);
    background: linear-gradient(rgb(248, 71, 71), rgb(170, 1, 1));
    box-shadow: 1px 1px 10px black inset,
        0 1px 0 rgba(255, 255, 255, 0.4);
}

/*colored button : yellow*/
.editButton {
    color: #222;
    background: rgb(255, 255, 0);
    background: linear-gradient(rgb(255, 255, 134), rgb(165, 165, 0));
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.editButton:hover {
    color: #222;
    background: rgb(255, 255, 0);
    background: linear-gradient(rgb(255, 255, 187), rgb(255, 255, 0));
}

.editButton:active {
    color: #000;
    background: rgb(255, 255, 0);
    background: linear-gradient(rgb(255, 255, 134), rgb(119, 119, 0));
    box-shadow: 1px 1px 10px black inset,
        0 1px 0 rgba(255, 255, 255, 0.4);
}

/* colored button : green*/
.activeButton {
    color: #222;
    background: rgb(0, 255, 0);
    background: linear-gradient(rgb(127, 255, 127), rgb(0, 170, 0));
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
        0 -1px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.activeButton:hover {
    color: #222;
    background: rgb(0, 255, 0);
    background: linear-gradient(rgb(161, 255, 161), rgb(0, 255, 0));
}

.activeButton:active {
    color: #000;
    background: rgb(255, 255, 0);
    background: linear-gradient(rgb(88, 255, 88), rgb(0, 168, 0));
    box-shadow: 1px 1px 10px black inset,
        0 1px 0 rgba(255, 255, 255, 0.4);
}
.contTableBtn .button a{
    text-decoration: none;
    color: #000;
}

/*  NAVBAR
################################# */

.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #444;
    position: fixed;
    height: 98%;
    overflow: auto;
}
.sidebar a{
    display: block;
    color: aliceblue;
    padding: 16px;
    text-decoration: none;
}
.sidebar a.active{
    background-color: #b6fc81;
    color: #000;
}
.sidebar a:hover:not(.active){
    background-color: #555;
    color: #fff;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content{
    margin-left: 200px;
    padding: 1px 16px;
    /*height: 1000px;*/
}


/* INDEX
################################# */

.accesAdmin{
    width: 100%;
}

/* LOGIN
################################# */

.contLog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.formLog{
    padding: 30px;
}

/* RESULTS $ ADD RESULT
################################# */

.formRes{
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.formRes input, .formRes select{
    min-width: 15em;
    min-height: 2.5em;
}
.formRes textarea{
    max-width: 95%;
    border-radius: 5px;
}
.formRes .sButton{
    min-width: initial;
    min-height: initial;
}
.radio input{
    min-width: auto;
    line-height: 12px;
    vertical-align: middle;
}

/* STATISTICS
################################# */

.contStatCol{   /* main container */
    display: flex;
    flex-direction: column;
}
.cont1StatRow1{ /* line of 4 rectangles top */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    
}
.contInfoCol{   /* these rect. */
    display: flex;
    flex-direction: column;
    width: 24%;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}
.contInfoCol p{
    margin: 0 10px;
    text-align: center;
}
.contInfoRow{
    display: flex;
    justify-content: space-between;
}
.cont1StatRow2{
    display: flex;
}
.statLines{
    display: flex;
    flex-direction: column;
}

/* DBMISS
################################# */

p .nabilla{
    border-radius: 50%;
    max-width: 500px;
}
.contLog .aButton{
    margin: 10px;
}

/* RESPONSIVE
################################# */

@media screen and (max-width: 1240px){
    .contTab{
        flex-direction: column;
        align-items: center;
    }
    .contTabEl{
        width: 100%;
    }
    .contTableBtn{
        flex-direction: row;
    }
    .contTableBtn .button {
        padding-bottom: 2px;
    }
}
@media screen and (max-width: 700px){

    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a{
        float: left;
    }
    div.content{
        margin-left: 0;
    }
    
}

@media screen and (max-width: 530px){
    .nabilla{
            max-width: 250px !important;
        }
}

@media screen and (max-width: 400px){

    .sidebar a{
        text-align: center;
        float: none;
    }
    h1{
        font-size: 1.1em;
    }
    .contTableBtn {
        flex-direction: column;
        width: 100%;
    }
    
}
