<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ajouter article</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <header>
        <h1>Ajouter un nouveau résultat</h1>
    </header>
    <section>
        <form method="POST" action="dbMiss.html" class="formRes">
            <p><label for="status">Statut</label> :
                <select name="status" id="status">
                    <option>Actif</option>
                    <option>Inactif</option>
                </select>
            </p>
            <p><label for="date">Date</label> : <input type="date" name="date" id="date"  /></p>
            <p><label for="title">Titre</label> : <input type="text" name="title" id="title"  /></p>
            <p><label for="com">Contenu</label><br />
                <textarea name="com" id="com" rows="6" cols="100" ></textarea></p>
            <p><input type="submit" class="sButton" value="Envoyer" /></p>
        </form>
    </section>
</body>
</html>