<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nabila db</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <h1>T'es admin et t'as pas de db ...</h1>
    <div class="contLog">
        <h2>Non mais allô, quoi !</h2>
        <p><img class="nabilla" src="../../ressources/images/proxy.duckduckgo.com.jpg" /></p>
        <a class="aButton" href="mainAdmin.html"><p class="button accesAdmin">Retour au panneau d'administration</p>
    </div>
</a>
</body>
</html>