<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Panneau Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <nav class="sidebar">
        <a class="active" href="mainAdmin.html">Résultats</a>
        <a href="news.html">Actualités</a>
        <a href="members.html">Membres</a>
        <a href="stats.html">Stats</a>
    </nav>
    <div class="content"> 
        <header>
            <h1>Administration</h1>
        </header>
        <section>
            <h2>Les résultats du club</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nostrum eaque tempora dicta dignissimos minima ab atque adipisci odio. Possimus aliquam nihil sunt nulla suscipit ullam veritatis blanditiis, dolorum consectetur.</p>
            <table class="results">
                <tr>
                    <th>Adversaire</th>
                    <th>Lieu</th>
                    <th>score</th>
                </tr>
                <tr>
                    <td>Montculq</td>
                    <td>Montculq</td>
                    <td>4 - 1</td>
                </tr>
            </table>
        </section>
    </div>
</body>
</html>