<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>membres</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
<nav class="sidebar">
    <a href="mainAdmin.html">Résultats</a>
    <a href="news.html">Actualités</a>
    <a class="active" href="members.html">Membres</a>
    <a href="stats.html">Stats</a>
</nav>
    <header>
        <h1>Membres</h1>
    </header>
    
</body>
</html>