<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Actualités</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <nav class="sidebar">
        <a href="mainAdmin.html">Résultats</a>
        <a class="active" href="news.html">Actualités</a>
        <a href="members.html">Membres</a>
        <a href="stats.html">Stats</a>
    </nav>
    <div class="content">
        <header>
            <h1>Actualités</h1>
        </header>
        <section>
            <h2>Les nouvelles du club</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nostrum eaque tempora dicta dignissimos minima ab
                atque adipisci odio. Possimus aliquam nihil sunt nulla suscipit ullam veritatis blanditiis, dolorum consectetur.</p>
            <a class="aButton" href="addArticle.html">
                <p class="button accesAdmin">Ajouter un nouvel article</p>
            </a>
            <div class="contTab">
                <table class="tables contTabEl">
                    <tr>
                        <th>Statut</th>
                        <th>Date</th>
                        <th>titre</th>
                    </tr>
                    <tr>
                        <td>Inactif</td>
                        <td>31-02-2019</td>
                        <td>Pot de départ à Dédé</td>
                    </tr>
                    <tr>
                        <th colspan="3">Contenu</th>
                    </tr>
                    <tr>
                        <td colspan="3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, quod quae qui optio
                            deleniti aspernatur inventore magnam iusto aliquam neque saepe explicabo, fugit aliquid nulla debitis
                            id voluptatum distinctio recusandae.</td>
                    </tr>
                </table>
                <div class="contTableBtn contTabEl">
                    <p class="button delButton"><a href="dbMiss.html" class="aButton">Supprimer</a></p>
                    <p class="button editButton"><a href="editArticle.html" class="aButton">Modifier</a></p>
                    <p class="button activeButton"><a href="dbMiss.html" class="aButton">Activer</a></p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>