<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<header>
    <h1>Connectez-vous à votre compte administrateur</h1>
</header>
<body>
    <div class="contLog">
        <form class="formLog" method="POST" action="../backendView/mainAdmin.html">
            <p><label for="pseudo">Votre nom</label> : <input type="text" name="pseudo" id="pseudo" required/></p>
            <p><label for="pswd">Votre mot de passe</label> : <input type="password" name="pswd" id="pswd" required/></p>
            <p><label for="remember">Se souvenir de moi</label> : <input type="checkbox" name="remember" id="remember" /></p>
            <p><input type="submit" class="sButton" value="Connexion" /></p>
        </form>
    </div>
</body>
</html>