<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>envoi validé</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <header>
        <h1>E-mail envoyé</h1>
    </header>
    <section>
        <div class="bloc popBloc">
            <h2>votre demande a été traitée.</h2>
            <p>Un courriel contenant un lien de réinitialisation vous a été envoyé à l'adresse que vous nous avez communiquée.</p>
            <a class="aButton" href="../../index.html"><p class="button accesAdmin">retour page d'accueil</p></a>
        </div>
    </section>
</body>
</html>