<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>profil de Zozo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../ressources/css/style.css">
</head>
<body>
    <h1>Profil de Zozo</h1>
    <div class="contLog">
        <p><img class="troll" src="../../ressources/images/41086426-troll-de-bande-dessinée-fat-vecteur-clip-art-illustration-avec-des-gradients-simples-tout-en-une-seule.jpg" /></p>
    </div>
</body>
</html>